<div class="content">
  <div class="cards-grid">
    <mat-card class="stat-card">
      <mat-card-title>Total Registered</mat-card-title>
      <mat-card-content>
        <h2>120</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Attended</mat-card-title>
      <mat-card-content>
        <h2>85</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Pending</mat-card-title>
      <mat-card-content>
        <h2>35</h2>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="charts-grid">
      <mat-card>
          <mat-card-title>Registrations Over Time</mat-card-title>
          <mat-card-content>
              <div class="chart-container">
              <canvas baseChart 
                      [data]="lineChartData" 
                      [options]="lineChartOptions" 
                      [type]="'line'">
              </canvas>
              </div>
          </mat-card-content>
      </mat-card>

      <mat-card>
          <mat-card-title>Attendees by Role</mat-card-title>
          <mat-card-content>
              <div class="chart-container">
                  <canvas 
                      baseChart 
                      [data]="pieChartData" 
                      [options]="pieChartOptions" 
                      [type]="'pie'">
                  </canvas>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>