<div class="landing-container">
  <img class="gfam-logo" src="https://res.cloudinary.com/dcktnvdqt/image/upload/v1758059416/gfam-logo1_clydmw.png" alt="">
  <!-- Hero Section -->
  <div class="hero">
    <div class="overlay">
      <div class="hero-content">
        <h1>72 HOURS INTERCESSION 2025</h1>
        <h3>Theme: <span>“Behold, the TABERNACLE of God”</span></h3>

        <!-- Countdown -->
        <div class="countdown">
          <div class="time-box">
            <strong>{{ timeLeft.days }}</strong><span>Days</span>
          </div>
          <div class="time-box">
            <strong>{{ timeLeft.hours }}</strong><span>Hours</span>
          </div>
          <div class="time-box">
            <strong>{{ timeLeft.minutes }}</strong><span>Mins</span>
          </div>
          <div class="time-box">
            <strong>{{ timeLeft.seconds }}</strong><span>Secs</span>
          </div>
        </div>

        <!-- CTA -->
        <button mat-flat-button color="accent" class="cta-btn" routerLink="/register">
          Register Now
        </button>
      </div>
    </div>
  </div>

  <!-- Carousel Section -->
  <div class="carousel">
    <div class="carousel-track">
      <div class="carousel-item" *ngFor="let img of images">
        <img [src]="img.src" [alt]="img.name">
        <div class="carousel-label" *ngIf="img.name">{{ img.name }}</div>
      </div>
      <div class="carousel-item" *ngFor="let img of images">
        <img [src]="img.src" [alt]="img.name">
        <div class="carousel-label" *ngIf="img.name">{{ img.name }}</div>
      </div>
    </div>
  </div>

  <div class="partner-with-us">
    <h2>Partner With Us</h2>
    <p>Be a part of what God is building. Through your partnership, lives will be touched, nations reached, and heaven gloried.</p>

    <div class="card">
      <div class="card-bg"></div>
      <div class="content">
        <div class="logo">
          <div></div>
        </div>
        <div class="account-details">
          <div class="chip">
            <img src="../../../assets/images/chip.png" alt="">
            <mat-icon>wifi</mat-icon>
          </div>
          <div class="details">
            <p>Account Details</p>
            <h3>101 - 634 - 2702</h3>
            <p>Grace For All Men Ministry</p>
          </div>
        </div>
        <div class="card-footer">
          <span>Narration: 72 Hours</span>
          <img src="https://res.cloudinary.com/dcktnvdqt/image/upload/v1758059505/Mastercard-Logo_e9aap3.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <mat-toolbar class="footer">
    <span>© 2025 Grace For All Men International Ministry. All Rights Reserved.</span>
  </mat-toolbar>
</div>
