<div class="dashboard-layout">
    <aside [class.collapsed]="collapsed" class="sidebar">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
        </button>

        <div class="logo">
            <mat-icon>church</mat-icon>
            <span>GFAM</span>
        </div>

        <nav>
            <a
                mat-list-item
                routerLink="/admin"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" (click)="onNavClick()"
            >
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a mat-list-item routerLink="/admin/attendees" routerLinkActive="active" (click)="onNavClick()">
                <mat-icon>people</mat-icon>
                <span>Attendees</span>
            </a>
            <a mat-list-item routerLink="/admin/register" routerLinkActive="active" (click)="onNavClick()">
                <mat-icon>assignment</mat-icon>
                <span>Registrations</span>
            </a>
            <a mat-list-item routerLink="/admin/checker" routerLinkActive="active" (click)="onNavClick()">
                <mat-icon>qr_code_scanner</mat-icon>
                <span>Verify Attendee</span>
            </a>
            <a mat-list-item routerLink="/admin/users" routerLinkActive="active" (click)="onNavClick()" *ngIf="isAdmin">
                <mat-icon>people</mat-icon>
                <span>Users</span>
            </a>
            <a mat-list-item routerLink="/admin/invite-user" routerLinkActive="active" (click)="onNavClick()" *ngIf="isAdmin">
                <mat-icon>person_add</mat-icon>
                <span>Invite User</span>
            </a>
            <a mat-list-item routerLink="/admin/change-password" routerLinkActive="active" (click)="onNavClick()">
                <mat-icon>lock_reset</mat-icon>
                <span>Change Password</span>
            </a>
        </nav>
    </aside>

    <div class="main">
        <header class="topbar">
            <span class="title">Admin Dashboard</span>

            <div class="right">
                <mat-icon class="notify">notifications</mat-icon>
                <mat-icon>account_circle</mat-icon>

                <!-- <mat-menu #userMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>

                    <button mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu> -->
            </div>
        </header>

        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
